<div class="row" style="margin: 10px 0">
  <div class="ui cards">
      <div class="card">
        <div class="poster" style="background-image: url('<%= @movie.poster_path %>')">
        </div>
        <div class="content">
          <div class="header"><%= @movie.title%></div>
          <div class="meta">
            <% @movie.genres.each do |genre| %>
              <div class="ui label">
                <%= genre.name%>
              </div>
            <% end %>
          </div>
          <div class="description">
            <%= @movie.overview%>
          </div>
        </div>
      </div>
  </div>
</div>
