<div class="my-3 my-md-5">

  <div class="container">
    <div>
      <h1>MOVIE ON RAILS</h1>
      <h2 class="subtitle">Découvrez, notez et partagez avec vos amis</h2>
      <button type="button" class="btn btn-facebook"><i class="fa fa-facebook mr-2"></i>Nous rejoindre avec Facebook</button>
    </div>

  </div>
</div>

<div class="container-fluid align-self-end mt-auto">
  <div class="row">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @movies.each do |movie| %>
          <div class="swiper-slide">
            <a href="/movies/<%= movie.id %>" class="vignette" style="background-image: url('<%= movie.poster_path %>')"></a>
          </div>
        <% end %>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <!-- Add Pagination
      <div class="swiper-pagination"></div>-->
    </div>
  </div>

</div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 5,
        spaceBetween: 0,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            1024: {
                slidesPerView: 4,
            },
            768: {
                slidesPerView: 3,
            },
            640: {
                slidesPerView: 2,
            },
            320: {
                slidesPerView: 1,
            }
        }
    });
</script>

