<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
  <div class="ui container">
    <a class="active item">Home</a>
    <a href="/movies" class="item">Films</a>
    <a class="item">Séries</a>
    <a class="item">Contact</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left" style="">
  <a class="active item">Home</a>
  <a href="/movies" class="item">Films</a>
  <a href="/movies"  class="item">Séries</a>
  <a class="item">Contact</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>

